AI_end/generate-audio/.env
AI_end/generate-illustration/.env
chatgpt_api_key.txt
dalle_api_key.txt
AI_end/summarize/test
how to install git and clone the repo.docx
meetings/
project ideas-1.docx
project ideas.docx
project plan.docx