.InputPart_Main_Div{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    /* padding-top: 10px; */
    animation: Right-in 2s;
    background-image: url("../Media/bg.png");
    background-size: cover;
}

.InputPart_Main_Div textarea{
    width: 90%;
    min-height: 30vh;
    max-height: auto;
    border-radius: 20px;
    /* background-color: rgba(229, 144, 78, 0.801); */
    border: 2px solid rgb(241, 100, 34);
    color: rgb(24, 24, 24);
    font-family: "Teko", sans-serif;
    font-size: xx-large;
    padding: 15px;
    /* border: 4px solid white; */
}


.InputPart_Main_Div label{
    font-size: 40px;
    font-weight: 600;
    font-family: "Teko", sans-serif;
    color: rgb(241, 100, 34);
}

.InputPart_Main_Div button{
    transition: 0.2s;
    font-size: 40px;
    border-radius: 10px;
    font-weight: 600;
    background-color: rgba(255, 255, 255, 0.59);
    border: 2px solid rgb(241, 100, 34);
    color: rgb(241, 100, 34);
    font-family: "Teko", sans-serif;
    width: 18%;
}
.InputPart_Main_Div button:hover{
    transition: 0.2s;
    background-color: rgba(255, 95, 27, 0.842);
    border-radius: 20px;
}

.InputPart_Main_Div .cloumn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 90%;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    gap: 10px;
    margin-right: -2%;
    border: 5px solid rgb(211, 230, 0);
}

.InputPart_Main_Div .row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
}

.InputPart_Main_Div .row .upload_file{
    font-size: xx-large;
    border: 2px solid rgb(241, 100, 34);
    padding: 5px 20px;
    border-radius: 10px;
    
}

.Loading_Div{
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(44, 45, 45, 0.563);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.Loading_Div .icon{
    font-size: 70px;
    animation: rotate360 2s  infinite;
    color: white;
    
}
.Loading_Div label{
    color: white;
}